.card-group {
  margin: 50px;
  padding: 10px;
}
.card {
  text-align: center;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: justify;
}
.btn {
  max-width: 100px;
  border-radius: 6px;
  padding: 3px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  [class*="col-"] {
    width: 100%;
    font-size: 5%;
  }
  .btn {
    width: 30px;
    font-size: 5%;
  }
}
